trigger:
  - main
# Self-hosted agents pool
pool:
  name: Default

variables:
  appRoot: frontend/my-app
  

steps:
# Set up a Node.js environment and add it to the PATH
  - task: UseNode@1
    inputs:
      version: '24.x' 
    displayName: 'Install Node 24.x on Path'



  - pwsh: |
      cd "$(appRoot)"
      npm ci
      npm run build

      Remove-Item "$(Build.ArtifactStagingDirectory)\deploy" -Recurse -Force -ErrorAction SilentlyContinue
      New-Item -ItemType Directory -Path "$(Build.ArtifactStagingDirectory)\deploy\.next" -Force | Out-Null

      Copy-Item ".next\standalone\*" "$(Build.ArtifactStagingDirectory)\deploy\" -Recurse -Force
      Copy-Item ".next\static" "$(Build.ArtifactStagingDirectory)\deploy\.next\" -Recurse -Force
      if (Test-Path "public") { Copy-Item "public" "$(Build.ArtifactStagingDirectory)\deploy\" -Recurse -Force }
    displayName: "Build and stage standalone deploy folder"


# Compress files into .7z, .tar.gz, or .zip.
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/deploy'
      includeRootFolder: false
      archiveType: 'zip' 
      archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip' 
    displayName: 'Archive files to a zip'

# Publish build artifacts to Azure Pipelines
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)' 
      ArtifactName: 'ZippedArtifact'
      publishLocation: 'Container' 
    displayName: 'Publish Artifact: ZippedArtifact to Azure Pipelines'

  - task: AzureWebApp@1
    displayName: "Deploy to App Service"
    inputs:
      azureSubscription: "service-connection"
      appType: "webAppLinux"
      appName: "web-pms"
      package: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
      startupCommand: "node server.js"
