trigger:
  - main

pool:
  name: Default

variables:
  appRoot: frontend/my-app
  npm_config_cache: $(Pipeline.Workspace)/.npm

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "24.x"
    displayName: "Install Node.js"


  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | $(appRoot)/package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: $(npm_config_cache)
    displayName: "Cache npm"

  - script: |
      cd $(appRoot)
      npm ci
      npm run build
    displayName: "Install and build"

  - script: |
      rm -rf "$(Build.ArtifactStagingDirectory)/standalone"
      mkdir -p "$(Build.ArtifactStagingDirectory)/standalone"
    displayName: "Prepare staging folder"

  - task: CopyFiles@2
    displayName: "Copy .next/standalone"
    inputs:
      SourceFolder: "$(appRoot)/.next/standalone"
      Contents: "**/*"
      TargetFolder: "$(Build.ArtifactStagingDirectory)/standalone"

  - task: CopyFiles@2
    displayName: "Copy .next/static"
    inputs:
      SourceFolder: "$(appRoot)/.next/static"
      Contents: "**/*"
      TargetFolder: "$(Build.ArtifactStagingDirectory)/standalone/.next/static"

  - task: CopyFiles@2
    displayName: "Copy public"
    inputs:
      SourceFolder: "$(appRoot)/public"
      Contents: "**/*"
      TargetFolder: "$(Build.ArtifactStagingDirectory)/standalone/public"

  - task: ArchiveFiles@2
    displayName: "Zip standalone"
    inputs:
      rootFolderOrFile: "$(Build.ArtifactStagingDirectory)/standalone"
      includeRootFolder: false
      archiveType: "zip"
      archiveFile: "$(Build.ArtifactStagingDirectory)/web.zip"
      replaceExistingArchive: true

  - task: AzureWebApp@1
    displayName: "Deploy to App Service"
    inputs:
      azureSubscription: "service-connection"
      appType: "webAppLinux"
      appName: "web-pms"
      package: "$(Build.ArtifactStagingDirectory)/web.zip"
      startupCommand: "node server.js"
