trigger:
- main

pool:
  name: Default

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '24.x'
  displayName: 'Install Node.js'

- script: |
    cd frontend/my-app
    npm install
    npm run build
    npm publish
  displayName: 'npm install and build'

- task: AzureWebApp@1
  inputs:
    azureSubscription:  service-connection
    appType: 'webApp' 
    appName: 'web-pms'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'