# Trigger the pipeline on changes to the main branch only within the backend/src/PMS.Api directory
trigger:
- main
  paths:
    include:
      - backend/src/**

variables:
  appRoot: backend/src/PMS.Api/PMS.Api.csproj
  buildDir: $(Build.ArtifactStagingDirectory)

pool:
  name: Default

steps:
- task: UseDotNet@2
  inputs:
    packageType: sdk
    version: '10.0.x'
  displayName: 'Install .NET 10.x SDK'

- task: DotNetCoreCLI@2
  inputs:
    command: restore
    projects: '$(appRoot)'
  displayName: 'Install Dependencies'

- task: DotNetCoreCLI@2
  inputs:
    command: build
    projects: '$(appRoot)'
    arguments: '--configuration Release --no-restore'
  displayName: 'Build Project'

- pwsh: |
    Remove-Item "$(buildDir)\publish" -Recurse -Force -ErrorAction SilentlyContinue
    New-Item -ItemType Directory -Path "$(buildDir)\publish" -Force | Out-Null
  displayName: 'Prepare publish folder'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    projects: '$(appRoot)'
    publishWebProjects: false
    arguments: '--configuration Release --output "$(buildDir)/publish" --no-build --no-restore'
    zipAfterPublish: true
  displayName: 'Publish Project'


- task: AzureWebApp@1
  inputs:
    azureSubscription: 'service-connection'
    appType: webApp
    appName: 'api-pms'
    package: '$(buildDir)/publish/**/*.zip'
  displayName: 'Deploy to Azure Web App'