trigger:
  - main
# Self-hosted agents pool
pool:
  name: Default

variables:
  appRoot: frontend/my-app
  

steps:
# Set up a Node.js environment and add it to the PATH
  - task: UseNode@1
    inputs:
      version: '24.x' 
    displayName: 'Install Node 24.x on Path'


  - script: |
      cd $(appRoot)
      npm ci
      npm run build
    displayName: "Install and build"


# Compress files into .7z, .tar.gz, or .zip.
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(appRoot)'
    archiveType: 'zip' 
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip' 
  displayName: 'Archive files to a zip'

# Publish build artifacts to Azure Pipelines
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)' 
    ArtifactName: 'ZippedArtifact'
    publishLocation: 'Container' 
  displayName: 'Publish Artifact: ZippedArtifact to Azure Pipelines'

  - task: AzureWebApp@1
    displayName: "Deploy to App Service"
    inputs:
      azureSubscription: "service-connection"
      appType: "webAppLinux"
      appName: "web-pms"
      package: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
      startupCommand: "npm run start"
